<!DOCTYPE html>
<html>
<head>
    <title>Cybersecurity Awareness - Contact</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Contact Us</h1>
    <h2>Get in Touch</h2>
    <h3>Reach Out for More Information</h3>
    <p>If you have any questions about cybersecurity, feel free to contact us.</p>
    <p>Current Date and Time: {{ current_time }}</p>
    
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/resources">Resources</a></li>
    </ul>

    <p>Further Resources:</p>
    <ol>
        <li><a href="https://www.fcc.gov/general/cybersecurity-tips">FCC Cybersecurity Tips</a></li>
        <li><a href="https://www.consumer.ftc.gov/topics/online-security">FTC Online Security</a></li>
        <li><a href="https://www.sans.org/security-resources">SANS Cybersecurity Resources</a></li>
    </ol>
</body>
</html>
